LINE_CHANNEL_SECRET=replace_me
LINE_CHANNEL_ACCESS_TOKEN=replace_me
LINE_OWNER_USER_ID=U_replace_with_owner_line_user_id
ADMIN_TOKEN=replace_with_at_least_32_random_characters
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY_BASE64=base64_of_pkcs8_pem
GOOGLE_SPREADSHEET_ID=1d8Cv76JicUo7jO4KykQ35Xg60GAjMOyJCeYT92xkKL8
# OPENAI_API_KEY=optional_only_when_fallback_is_enabled
